/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #a6c0fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;

}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.form-container label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group text {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    cursor: pointer;
}

.form-container button:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
}
