body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('astronaut-space-suit-with-neon-lights-flag (1).jpg'); /* Add your image path */
  background-size: cover;
  background-position: center;
}

header {
  background-color: #ae8a51c2;
  color: white;
  padding: 1em 0;
  background-size: cover;
  background-position: center;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 50px;
  text-align: center;
  background-image: url('astral-wallpapers-composition-with-galaxy (1).jpg'); /* Add your image path */
  background-size: cover;
  background-position: center;
}

#home {
  text-align: center;
}

#donate {
  padding: 50px;
  text-align: center;
  background-color: #deded803;
  background-size: cover;
  background-position: center;
}

.donation-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.donation-block {
  border: 1px solid #cccccc10;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 200px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #804141;
  border-radius: 5px;
}
